header{
    height: 80px;
    background: blueviolet;
    border: 1px solid brown;
}
footer{
    border:  1px solid black;
    height: 180px;
    background: rosybrown;
}
main{
    border: 1px solid crimson;
    height: 1000px ;
    
}
.r_tbdr{
    border: 1px solid red;
}